  spark-yarn-worker{worker_num}:
    image: da-spark-yarn-image
    entrypoint: ['./entrypoint.sh', 'worker']
    container_name: yarn-worker-{worker_num}
    hostname: my.yarnworker{worker_num}.org
    depends_on:
      - spark-yarn-master
    env_file:
      - .env.spark
    volumes:
      - ./book_data:/opt/spark/data
      - ./spark_apps:/opt/spark/apps
      - ./yarn-generated/{hdfs-site-file}:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./yarn-generated/{yarn-site-file}:/opt/hadoop/etc/hadoop/yarn-site.xml
    ports:
      - "{port1}:{port1}"
      - "{port2}:{port2}"
